.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Skile
    .collapse.navbar-collapse.nav-fixed-top.navbar-default
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
        if user
            li(class=title=='Profile'?'active':undefined)
              a(href='/profile') Profile
        li(class=title=='Categories'?'active':undefined)
          a(href='/categories') Categories
        li(class=title=='Links'?'active':undefined)
          a(href='/links') Links
        li(class=title=='Paths'?'active':undefined)
          a(href='/paths') Paths
        if user
          li.dropdown(class=title=='Add'?'active':undefined, title="Add")
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              &nbsp;              
              i.fa.fa-plus.fa-lg
            ul.dropdown-menu.downdrop-menu
              li(class=title=='AddLink'?'active':undefined)
                a(href='/add-link') Add Link
              li.divider.downdrop-divider
              li(class=title=='AddCategory'?'active':undefined)
                a(href='/add-category') Add Category
              li.divider.downdrop-divider
              li(class=title=='AddPath'?'active':undefined)
                a(href='/add-path') Add Path
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.fullName || user.email || user.id}&nbsp;
            ul.dropdown-menu.downdrop-menu
              li
                a(href='/account') My Account
              li.divider.downdrop-divider
              li
                a(href='/my-links') My Links
              li.divider.downdrop-divider
              li
                a(href='/my-stats') My Stats
              li.divider.downdrop-divider
              li
                a(href='/logout') Logout