extends layout
block content
	.row
		.col-md-8
			h3
				=path.title
			p
				=path.description
	.row
		a(id="selectedLink", target="_blank")
		canvas.paths-canvas(id=0, width="600", height="200")
		hr
	if user
		.row
			.editable
			button.btn.btn-danger.discuss Discuss
	.row.comments
		if comments
			each comment in comments
				.comment(data-id=comment.id)
					!=comment.body
					if user
						button(class="btn pull-right replyButton", data-id=comment.id) Discuss
						br
					hr
				if comment.replies.length
					each reply in comment.replies
						.reply(data-id=reply.id)
							!=reply.body
							if reply.replies.length
								//button(class="btn pull-right btn-danger showMore", data-id=reply.id) Show More
							if user
								//button(class="btn pull-right replyButton", data-id=reply.id) Discuss
								//br
							hr

		else
			p No comments!
	script(src='/js/lib/paper-core.min.js', type="text/javascript")
	script(src='/js/displayPath.js', type="text/javascript", onload="decodeEncoded(#{JSON.stringify(path)})")